*{
	margin: 0 auto;
	padding: 0;
	max-width: 1366px;
}
body{
	background:url(../img/Layer.png) no-repeat;
	padding-top: 49px;
	padding-left: 150px;
	padding-right: 150px;
	background-color: grey;

}
header{
	position: relative;
	width: auto;
	height: 44px;
	display: block;
	margin-bottom: 45px;
}
.logo{
	background: url("../img/logo.png") no-repeat;
	width: 46px;
	height: 44px;
	display: inline-block;
	margin-right: 21px;
	float: left;
}
.name{
	width: 108px;
	height: 44px;
	color: white;
	float: left;
}
.name_first{
	font-family: Verdana;
	color:  #ffffff;
	font-size: 29px;
	font-weight: 600;
	line-height: 21px;
	text-align: left;
	margin-bottom: 5px;
}
.name_second{
	font-family: Verdana;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 600;
	line-height: 21px;
	text-align: left;
}
.contact{
	display: block;
	width: auto;
	height: 44px;
	color: white;
	float: right;
	text-align: right;
	position: relative;
}
.email{
	font-family: Verdana;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;

}
.number{
	font-family: Verdana;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
}
.container{
	width: auto;
	height: auto;
	display: flex;	
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0 -30px;
}
.item{
	padding: 0;
	width: 312px;
	height:300px;
	position: relative;

}
.item_img{
	width: 312px;
	height: 205px;
	margin-bottom: 20px;
	background-size: cover;
	border: 2px solid transparent;
	border-image: linear-gradient(to bottom, white 0%, black 100%);
	border-image-slice: 1;
	box-shadow: 0 15px 30px  black;
	
}
.item_title{
	display: block;
	font-family: Verdana;
	color:  #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
	margin-bottom: 55px;
}
.item:hover .details{
	display: inline-block;
}
.item:hover .item_title{
	color: #f26522;
}

.details{
	top: 146px;
	width: 316px;
	position: absolute;
	height: 43px;
	background-color:  #f26522;
	padding-bottom: 20px;
	display: none;
}
.price{
	color: white;
	width: 40px;
	padding-top: 10px;
	padding-left: 21px;
	float: left;
}
.price_second{
	font-family: Verdana;
	font-size: 20px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
}
.details_view{
	float: right;
	color: white;
	padding-top: 30px;
}
.details_view >a{
	font-family: Verdana;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
	margin-right: 10px;
}
.details_view >span{
	font-family: Verdana;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 500;
	margin-right: 18px;

}
.footer{
	bottom: 0;
	font-family: Verdana;
	color:  #ffffff;
	font-size: 10px;
	font-weight: 400;
	line-height: 21px;
	text-align: center;
}